body {
    font-family: Arial, sans-serif;
    margin: auto auto;
    max-width: 1100px;
    padding: 0;
}
h1 {
    text-align: center;
    color: #333;
}
.search-bar {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    margin-top: 20px;
}
.search-bar input[type="text"] {
    width: 600px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.search-bar button {
    padding: 10px 15px;
    font-size: 16px;
    margin-left: 5px;
    background-color: #4285F4;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.search-bar button:hover {
    background-color: #357ae8;
}
.bookmarks-section {
    margin-top: 20px;
}
.bookmarks-section h2 {
    margin-bottom: 10px;
}
.add-bookmark {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}
.add-bookmark input[type="text"] {
    flex: 1;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.add-bookmark button {
    padding: 10px 15px;
    font-size: 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.add-bookmark button:hover {
    background-color: #45a049;
}
.bookmark-list {
    list-style-type: none;
    padding: 0;
}
.bookmark-list li {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-bottom: 5px;
    background-color: #f9f9f9;
}
.bookmark-list li a {
    text-decoration: none;
    color: #4285F4;
    font-weight: bold;
}
.bookmark-list li a:hover {
    text-decoration: underline;
}
.bookmark-list li button {
    background-color: #f44336;
    border: none;
    color: white;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
}
.bookmark-list li button:hover {
    background-color: #d32f2f;
}

#api_image {
    width: 100%;
    max-width: 600px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
    border: 2px solid #ddd;
    margin:auto;
    overflow: hidden;
    margin-top:70px;
}
  #api_image img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
  }
